<ifModule mod_rewrite.c>
	# Turn on the engine:
	RewriteEngine on
	RewriteBase /

	# Do not perform redirects for files and directories that exist:
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# For everything else, redirect to index.php:
	RewriteRule . index.php
</ifModule>
AuthUserFile "/home/projekt/public_html/htusers"
AuthType Basic
AuthName "Secret Projekt Labor "
require valid-user
<Files htusers>
deny from all
</Files>
